@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Roboto', Verdana, Georgia, 'Times New Roman', Times, serif;
}

body {
  background-color: #E4E3E3;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #FFF;
  padding: 1rem;
}

.logo h2 {
  text-transform: uppercase;
  font-size: 36px;
  font-weight: 400;
}

.links a {
  text-decoration: none;
  color: #000;
  padding: 0 8px;
}

.links a:hover {
  text-decoration: underline;
  text-underline-offset: 8px;
}